<a href="https://colab.research.google.com/github/kaylode/Unnamed-Project/blob/master/dataset_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Vào link này, lưu folder về drive của mình :
https://drive.google.com/open?id=1LPxRnvgyZGV71unFMECefbtIqhp981qY
 
 Sau đó chạy code dưới

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
import os

DRIVE_DIR = "/content/drive/My Drive/tweets-dataset"
dataset_names =["sentiment140", "semeval"]
DATA_DIR = {
    name: {
        "train" : os.path.join(DRIVE_DIR, name, "train") ,
        "test" : os.path.join(DRIVE_DIR, name, "test")
        } for name in dataset_names
}

all_training_path = {i : os.listdir(DATA_DIR[i]["train"]) for i in dataset_names}
#all_test_path = {i : os.listdir(DATA_DIR[i]["test"]) for i in dataset_names}

In [0]:
def files_to_dataset(pathdict, mode="train"):
    all_tables = []
    supported_filetypes = [".csv", ".tsv", ".txt"]
    for name, files in pathdict.items():
        for filename in files:
          path = os.path.join(DATA_DIR[name][mode], filename)

          filetype = path[-4:]
        
          if filetype in supported_filetypes:
              if filetype == ".csv":
                  delimiter = ","
              else:
                  delimiter = "\t"
          else:
              assert False,"File type not supported"

          table = pd.read_csv(path, encoding='latin-1', delimiter=delimiter, header= None)
          print(filename)
          all_tables.append(table)
    return all_tables

In [4]:
tables = files_to_dataset(all_training_path)

training.1600000.processed.noemoticon.csv
twitter-2016train-A.txt
twitter-2013train-A.txt
twitter-2015train-A.txt

In [5]:
for i in range(len(tables)):
    print(len(tables[i]))

1600000
5868
9684
489

In [7]:
tables[0].head()

   0  ...                                                  5
0  0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  0  ...  is upset that he can't update his Facebook by ...
2  0  ...  @Kenichan I dived many times for the ball. Man...
3  0  ...    my whole body feels itchy and like its on fire
4  0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [8]:
tables[1].head()

                    0  ...                                                  2
0  628949369883000832  ...  dear @Microsoft the newOoffice for Mac is grea...
1  628976607420645377  ...  @Microsoft how about you make a system that do...
2  629023169169518592  ...  I may be ignorant on this issue but... should ...
3  629179223232479232  ...  Thanks to @microsoft, I just may be switching ...
4  629186282179153920  ...  If I make a game as a #windows10 Universal App...

[5 rows x 3 columns]